

.navbar {
  
  padding: 1rem 2rem;
  color: rgb(192, 0, 0);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1%;
  width: auto;
  height: auto;
}

.navbar-links a {
  color: rgb(4, 60, 112);
  margin-left: 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-links a:hover {
  color: #006ad4;
  border-bottom: 2px solid rgb(30, 0, 0);
  padding-bottom: 2px;
}
